// // .app-container {
// //   display: flex;
// //   flex-direction: column;
// //   min-height: 100vh;
  
// //   .main-content {
// //     flex: 1;
// //     padding: 2rem 0; // Adjust as needed
// //   }
// // }


// // // Base styles
// // * {
// //   margin: 0;
// //   padding: 0;
// //   box-sizing: border-box;
  
// // }

// // html {
// //   scroll-behavior: smooth;
// // }

// // * {
// //   margin: 0;
// //   padding: 0;
// //   box-sizing: border-box;
// // }

// // html, body {
// //   overflow-x: hidden;  /* Prevent horizontal overflow */
// // }

// // body {
// //   overflow-wrap: break-word; /* Helps in preventing overflow caused by long words */
// // }



// // //
// // /* Font Import from Google Fonts */
// // @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap');

// // body {
// //   font-family: 'Roboto', sans-serif;
// //   //background: radial-gradient(circle at 30% 50%, #1a1a2e, #16213e);
  
// //   .floating-circle {
// //     position: absolute;
// //     border-radius: 50%;
// //     background: rgba(255, 255, 255, 0.03);
// //     backdrop-filter: blur(5px);
    
// //     &.large {
// //       width: 500px;
// //       height: 500px;
// //       top: -150px;
// //       right: -150px;
// //     }
    
// //     &.medium {
// //       width: 300px;
// //       height: 300px;
// //       bottom: -100px;
// //       left: -100px;
// //     }
    
// //     &.small {
// //       width: 150px;
// //       height: 150px;
// //       top: 30%;
// //       left: 20%;
// //     }
// //   }
// // }

// // h1, h2, h3 {
// //   font-family: 'Montserrat', sans-serif;
// //   font-weight: 700;
// // }

// // p {
// //   font-family: 'Roboto', sans-serif;
// //   font-weight: 400;
// // }
// // //






html, body {
  overflow-x: hidden;  /* Prevent horizontal overflow */
  width: 100%;          /* Ensure the layout takes full width */
  margin: 0;            /* Remove any default margin */
}


/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header.scrolled {
  background: rgba(0, 0, 0, 1);  /* Solid background when scrolled */
}

/* Font Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Floating Circle Effects */
.floating-circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(5px);
}


.floating-circle.medium {
  width: 300px;
  height: 300px;
  bottom: -100px;
  left: -100px;
}

.floating-circle.small {
  width: 150px;
  height: 150px;
  top: 30%;
  left: 20%;
}

